#container0 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #container1 {
    width: 700px;
    height: 400px;
    margin: 20px;
  }
  #container1b {
    height: 300px;
    width: 660px;
    border: 2px solid grey;
    padding: 20px;
    border-radius: 10px;;
  }
  #container2 {
    margin: 20px;
    width: 700px;
    height: 400px;
  }
  #container2b {
    height: 300px;
    width: 660px;
    border: 2px solid grey;
    padding: 20px;
    overflow: auto;
    border-radius: 10px;;
  }
  #container1a {
    background-color: grey;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-decoration: underline purple;
  }
  #container2a {
    background-color: grey;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    text-decoration: underline purple;
  }
  .itemlabel {
    display: block;
    position: relative;
    left: 5vh;
    font-size: 20px;
    text-decoration: underline;
    padding: 0 0 20px 0;
  }
  textarea {
    margin: 0 0 40px 0;
    text-align: center;
  }
  #quantity {
    text-align: center;
    margin: 0 20px 0 0;
  }
  .con1 {
    font-size: 17px;
    height:40px;
    background-color: rgb(70, 126, 199);
    border-radius: 10px;
    color: white;
  }
  .newcontainer{
      justify-content: space-around;
      padding:0 5px 10px 5px;
      border:2px solid grey;
      border-radius: 10px;
      word-wrap: break-word;
      margin:0 0 10px 0;
  }
  .newItem {
    width: 70%;
  }
  .quan{
      color:grey;
  }
  .btn{
      display: inline;
      position:relative;
      border-radius:10px;
      font-size: 18px;
      height:40px;
      width:70px;
      top:40px;
      left:75%;
      background-color:#007bff;
      color:white;
  }
  
  